*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background: rgba(255, 192, 203, 0.306);
}
.header{
    background: lightpink;
    padding: 15px 39px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.header button{
    padding: 10px;
    background: white;
    border-radius: 7px;
    border: 2px solid white;
    font-weight: 400;
    color: pink;
    cursor: pointer;
}
.header button:hover{
    background: pink;
    border: none;
    color: white;
}
.container{
    gap: 20px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.card,
.card1,
.card2{
    width: 180px;
    height: 150px;
    background: lightpink;
    border-radius: 6px;
    text-align: center;
    padding: 25px 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
    transition: transform 0.3s ease-in;
    cursor: pointer;
}
.card img,
.card1 img,
.card2 img{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: lightgray;
}
.card p,
.card1 p,
.card2 p{
    font-size: large;
    font-weight: 700;
}